.margin-top10{
margin-top:10px !important;	
}
.accountProfiles th {
    font-weight: normal;
    height: 140px;
    padding: 2px !important;
    position: relative;
    vertical-align: bottom !important;
    width: 5px;
}
.vertical-text {
    bottom: -2px;
    float: left;
    left: 0;
    position: absolute;
    transform: rotate(-50deg);
    transform-origin: left top 0;
    white-space: nowrap;
    width: 10px;
}

textarea{
resize:none;	
}
.select2-results::-webkit-scrollbar-thumb{
background-color:#2f353f;
outline: none;	
}
.select2-results::-webkit-scrollbar {
width: 0.5em;
display: block;
background-color:#fff;
}
.sortable-list li {
float: none;
margin: 3px;
padding: 5px 10px;
background-color: #8090bd;
border: solid 1px #8090bd;
color: #FFf;
cursor: default;
font-size: 10px;
white-space: nowrap;
}
.ageRatesWell{
line-height:2.5;
padding:5px 10px 5px 10px;
margin-bottom:2px;	
}
.tab-level0{
padding-left:16px !important;
padding-right:16px !important;
}
.tab-level1{
padding-left:13px !important;
padding-right:13px !important;
}
.tab-level2{
padding-left:7px !important;
padding-right:7px !important;
}
ul.token-input-list-facebook{
border: 1px solid #eee !important;
min-height:34px !important;
}

.personsPanel{
margin-bottom:3px;	
padding: 3px 10px;
line-height: 0;
}
.uploadifive-button{
background-image:none !important;
border-color: #6F81B4 !important;
color: #FFFFFF !important;
border-radius: 5px !important;
padding-top:3px;
line-height:29px !important;
overflow: hidden !important;
position:relative !important;
text-align:center !important;
color: #fff !important;
background-color: #428bca !important;
border-color: #357ebd !important;
}
.readOnly{
display:inline-block;
width:100%;
height:auto;
min-height:34px;	
}
#uploadifive-uploadifive-person-queue{
display:none;	
}
.uploadifive-queue-item ,.complete{
display:none;	
}

table.simple {
border: 0 none;
border-collapse: collapse;
border-spacing: 0;
margin: 0;
width: 100%;
}
table.simple tr {
background-color: transparent;
}
table.simple th {
text-align: left;
}
table.simple th, table.simple td {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: -moz-use-text-color -moz-use-text-color #cccccc;
border-image: none;
border-style: none none solid;
border-width: 0 0 1px;
font-size: 1em;
line-height: 1.6em;
padding: 2px;
font-weight: normal;
vertical-align: bottom;
}
table.simple td{
text-align: right;
}
.section {
border-top: 1px solid #cccccc;
padding: 1.25em 1.625em;
}
header.interior {
background-color: #fafafa;
border-top: 1px solid #cccccc;
padding: 3px 1.625em;
margin-top: 20px;
}