.w-50{
    width:50px;
}
.w-80{
    width:80px;
}
.w-160{
    width:160px;
}
.w-450{
    width:450px;
}
.m-l-40 {
    margin-left: 40px;
}
.margin-top10{
margin-top:10px !important;	
}
.display-none{
    display:none;
}
.m-l-20 {
    margin-left:20px !important;
}
.accountProfiles th {
    font-weight: normal;
    height: 140px;
    padding: 2px !important;
    position: relative;
    vertical-align: bottom !important;
    width: 5px;
}
.vertical-text {
    bottom: -2px;
    float: left;
    left: 0;
    position: absolute;
    transform: rotate(-50deg);
    transform-origin: left top 0;
    white-space: nowrap;
    width: 10px;
}

textarea{
resize:none;	
}
.select2-results::-webkit-scrollbar-thumb{
background-color:#2f353f;
outline: none;	
}
.select2-results::-webkit-scrollbar {
width: 0.5em;
display: block;
background-color:#fff;
}
.sortable-list li {
float: none;
margin: 3px;
padding: 5px 10px;
background-color: #8090bd;
border: solid 1px #8090bd;
color: #FFf;
cursor: default;
font-size: 10px;
white-space: nowrap;
}
.ageRatesWell{
line-height:2.5;
padding:5px 10px 5px 10px;
margin-bottom:2px;	
}
.tab-level0{
padding-left:16px !important;
padding-right:16px !important;
}
.tab-level1{
padding-left:13px !important;
padding-right:13px !important;
}
.tab-level2{
padding-left:7px !important;
padding-right:7px !important;
}
ul.token-input-list-facebook{
border: 1px solid #eee !important;
min-height:34px !important;
}

.personsPanel{
margin-bottom:3px;	
padding: 3px 10px;
line-height: 0;
}
.uploadifive-button{
background-image:none !important;
border-color: #6F81B4 !important;
color: #FFFFFF !important;
border-radius: 5px !important;
padding-top:3px;
line-height:29px !important;
overflow: hidden !important;
position:relative !important;
text-align:center !important;
color: #fff !important;
background-color: #428bca !important;
border-color: #357ebd !important;
}
.readOnly{
display:inline-block;
width:100%;
height:auto;
min-height:34px;	
}
#uploadifive-uploadifive-person-queue{
display:none;	
}
.uploadifive-queue-item ,.complete{
display:none;	
}

table.simple {
border: 0 none;
border-collapse: collapse;
border-spacing: 0;
margin: 0;
width: 100%;
}
table.simple tr {
background-color: transparent;
}
table.simple th {
text-align: left;
}
table.simple th, table.simple td {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: -moz-use-text-color -moz-use-text-color #cccccc;
border-image: none;
border-style: none none solid;
border-width: 0 0 1px;
font-size: 1em;
line-height: 1.6em;
padding: 2px;
font-weight: normal;
vertical-align: bottom;
}
table.simple td{
text-align: right;
}
.section {
border-top: 1px solid #cccccc;
padding: 1.25em 1.625em;
}
header.interior {
background-color: #fafafa;
border-top: 1px solid #cccccc;
padding: 3px 1.625em;
margin-top: 20px;
}
.noVideoPng{max-width:350px;}
.review{margin-top:15px;}



/* BEGIN Online Offline Switcher */

.onAndOff{
    position:absolute;
	right:31px;
	bottom:0;
}
.onoffswitch {
    position: relative; width: 200px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 41px; padding: 0; line-height: 41px;
    font-size: 18px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ONLINE";
    padding-left: 30px;
    background-color: #6E8CD7; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFFLINE";
    padding-right: 30px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 25px;
    margin: 9.5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 155px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    transition: all 0.3s ease-in 0s;
    height: 25px;
    padding: 2px 6px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}



/* END Online Offline Switcher */
#titlesLoading{display:none;min-height:450px;position:relative;}
#titlesLoading i{position:absolute;top:48%;}



/* Rights Management/ Edit prices*/
.countriesBoxSiza{width:45%;}
.priceHide{display:none;}
.pricesep{float: left; width: 23px;}
.priceTab{clear:both; width:100%;text-align:right;}
.priceTab a{
    background-color: #FFFFFF;
    border-color: #E3E3E3 #E3E3E3 rgba(0, 0, 0, 0);
    border-image: none;
    border-radius: 4px 4px 0 0;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    float: right;
    height: 35px;
    line-height: 1.42857;
    margin-right: 2px;
    padding: 9px 15px;
    position: relative;
    top: 3px;
    width: 129px;
    color: #555555;
    text-align: center;
      
}
 .priceTab a:hover {
     background-color: #DDDDDD;
     background-color: #EEEEEE;
     text-decoration: none;
 }
.priceTab a.act:hover,.priceTab a.act  { 
     -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    border-color: #E3E3E3 #E3E3E3 rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
    height: 38px;
}




.countries .well{padding:0;margin-bottom:2px;}
.countries .row{margin-left:0;margin-left:0;}
.countries p{font-size:12px;  height: 27px;    padding-top: 6px; margin: 0;}
.countries .cInputs input{
    border: 2px solid #FAFAFA;
    float: left;
    font-size: 12px;
    padding: 6px;
    text-align: center;
    width: 85px;
}
.countries .cInputs .sr{
   // width: 25px;
    //float:left;
}


.countries .cInputs span {
  float: left;
  font-size: 12px;
  text-align: center;
  //width: 48px;
  padding-top: 6px;
}

.ctitles p{
    display: block;
    float: left;
    font-size: 12px;
    width: 85px;
    text-align: center;
	margin:0 !important;
}
.ctitles:first-child { width: 173px;text-align:left}
.ctitles:eq(1){ width: 68px;}
.ctitles:eq(2){ width: 68px;}
.bootstrap-transfer-container{height: 297px;padding: 30px 0;}
.GeoPricingCPContent .panel{border:0px;}
.false{display:none;}
.true{opacity:1;color:#000;}
#contriesPrices input{border:2px solid #FAFAFA;float: left;  font-size: 12px;  padding: 6px;  text-align: center;  width: 85px;  }
#contriesPrices .table tbody{background-color: #f5f5f5  }
#contriesPrices  .dt{width:150px;}

#editCP, #editStore{margin-top:15px;}
#editCP label , #editStore label{text-align:left !important;}
.company_profile td, .store_profile td{width:100px;padding:19px !important;}

.thumbnailBox{min-height:310px;max-height: 330px;overflow:hidden;}
.thumbnailBox img{width:175px;height:auto;max-width: 100%;}
.thumbnailCaption p{
    padding:10px 0px 10px 0;
}
.listStoresThumbs{max-width:150px;margin-bottom:0;}
.listStoreBrief{width:400px;overflow:hidden;height:80px;}

.isInVault {position: absolute;border: 3px solid #8090BD;top: 1%;left:25%; color: #FFF; font-size: 16px; padding: 4px 10px; border-radius: 50%; margin: 5px; background: #8090BD;
}
.rentOrPurchaseFilmsBox{display:none;}
.rentOrPurchaseFilmsBox > td > .panel{min-height:250px;}
.codes{cursor:pointer;margin-left:2px;}
.codes span{background: transparent;opacity: 0;font-size:0;}
.vaucherBox{padding:8px 15px !important;margin-bottom:0;}
.removeSubChannelLanguage {
    margin-bottom:5px;
}
